.smlbtn{
    width: 220px;
    height: 44px;
    padding: 10px 18px 10px 18px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    color: white;
    border-radius:5px;
}
.smlbtn:hover{
    cursor: pointer;
    background-color: rgb(47, 46, 46);
}

.bigbtn{
    background-color: white;
    width: 100%;
    margin-top: 17px;
    height: 44px;
    padding: 10px 18px 10px 18px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius:5px;
}

.bigbtn:hover{
    background-color: rgb(212, 209, 209);
    cursor: pointer;
}